@*Output an editor for all editable properties*@

@{
    Layout = null;
}
<div id="@string.Format("wrapped_{0}", ViewData.ModelMetadata.PropertyName)" class="formElement">
@Html.LabelForModel()

@RenderBody() 

@if (ViewData.ModelMetadata.IsRequired)
{
    <span class="required">*</span>
}

@Html.ValidationMessage("")
</div>