@*Output an editor for all editable properties*@

@{
    Layout = null;
    var requiredClass = ViewData.ModelMetadata.IsRequired ? "required" : string.Empty;
}
<div id="@string.Format("wrapped_{0}", ViewData.ModelMetadata.PropertyName)" class="formElement @requiredClass">
@Html.LabelForModel()

@RenderBody() 

</div>